
<%= render_favorite_icon(group) %>

<div class='description'>
  <% if group.description and not group.description.blank? %>
    <%=textilize group.description %>
  <% else %>
    No description provided
  <% end %>
</div>

<% cache( "groups/#{@group.identifier}/chart_xml/#{Cache.daily}}" ) do %>
<div class="chart">
  <%= render_chart :width => 500, :height => 250, :url => url_for_group( group, :charts_xml) %>
</div>
<% end %>