<div class='search'>
  <form method='post' class='search-entry'>
    <input name='search' value="<%= @search %>"/>
    <input name='submit' type='submit'/>
  </form>

  <% if @english_search and not @english_search.blank? %>
    <div class='search-term'>Searching for <%= @english_search %></div>

    <% if @messages and not @messages.empty?%>
      <div class='results'>
        <%= render :partial => '/core/messages' %>
      </div>
      <div class='help'>
        Note: access to further search results is currently not offered; please refine your search
      </div>
    <% else %>
      <div class='results-none'>
        No results
      </div>
    <% end %>
  <% else %>
    <div class='search-none'>
      Please enter a search term
    </div>
  <% end %>
</div>