/*
Sass::SyntaxError: Undefined constant: "!light_border".
on line 5 of /Users/bwalding/Workspace/march/public/stylesheets/sass/lists.sass

1: .tag-cloud
2:   :background-color   = white
3:   :border-width       1px
4:   :border-style       solid
5:   :border-color       = !light_border 
6:   :margin-top         = !spacing
7:   :padding-left       = !spacing
8:   :height 100%
9:   
10:   
11:   


Backtrace:
/Users/bwalding/Workspace/march/public/stylesheets/sass/lists.sass:5
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/constant.rb:209:in `get_constant'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/constant.rb:192:in `operationalize'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/constant.rb:182:in `operationalize'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/constant.rb:45:in `parse'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:323:in `parse_attribute'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:281:in `parse_line'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:187:in `build_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:237:in `build_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:116:in `render_to_tree'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/engine.rb:88:in `render'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/plugin.rb:61:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/plugin.rb:46:in `each'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/plugin.rb:46:in `update_stylesheets'
/Library/Ruby/Gems/1.8/gems/haml-2.0.2/lib/sass/plugin/rails.rb:16:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/base.rb:389:in `process'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:149:in `handle_request'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:107:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:104:in `synchronize'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:104:in `dispatch'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:120:in `dispatch_cgi'
/Library/Ruby/Gems/1.8/gems/actionpack-2.1.0/lib/action_controller/dispatcher.rb:35:in `dispatch'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:76:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `synchronize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/../lib/mongrel/rails.rb:74:in `process'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:159:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:158:in `process_client'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:285:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `initialize'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `new'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel.rb:268:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:282:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `each'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/configurator.rb:281:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:128:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/lib/mongrel/command.rb:212:in `run'
/Library/Ruby/Gems/1.8/gems/mongrel-1.1.5/bin/mongrel_rails:281
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:502:in `load'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:502:in `load'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:354:in `new_constants_in'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:502:in `load'
/Library/Ruby/Gems/1.8/gems/rails-2.1.0/lib/commands/servers/mongrel.rb:64
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:27:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:27:in `require'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:509:in `require'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:354:in `new_constants_in'
/Library/Ruby/Gems/1.8/gems/activesupport-2.1.0/lib/active_support/dependencies.rb:509:in `require'
/Library/Ruby/Gems/1.8/gems/rails-2.1.0/lib/commands/server.rb:39
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:27:in `gem_original_require'
/Library/Ruby/Site/1.8/rubygems/custom_require.rb:27:in `require'
./script/server:3
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Sass::SyntaxError: Undefined constant: \"!light_border\".\A on line 5 of /Users/bwalding/Workspace/march/public/stylesheets/sass/lists.sass\A \A 1: .tag-cloud\A 2:   :background-color   = white\A 3:   :border-width       1px\A 4:   :border-style       solid\A 5:   :border-color       = !light_border \A 6:   :margin-top         = !spacing\A 7:   :padding-left       = !spacing\A 8:   :height 100%\A 9:   \A 10:   \A 11:   \A "; }
