.search .results {
  margin-top: 0.8em; }
.search .results-none {
  margin-top: 0.8em; }
.search .search-entry {
  padding: 0.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: #eeeeee;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd; }
.search .search-term {
  padding: 0.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: #ffa;
  border-width: 1px;
  border-style: solid;
  border-color: #000; }
.search .help {
  padding: 0.8em;
  margin-top: 0.8em;
  margin-bottom: 0.8em;
  background-color: #eef;
  border-width: 1px;
  border-style: solid;
  border-color: #000; }

.navigation {
  background-color: #eeeeee;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  padding-left: 5px;
  padding-top: 1px;
  padding-bottom: 7px; }

.sub-navigation {
  background-color: #eeeeee;
  border-width: 0px 1px 1px 1px;
  border-style: solid;
  border-color: #dddddd;
  padding-left: 0.5em;
  padding-top: 0.1em;
  padding-bottom: 0.5em; }

.content-box {
  padding-top: 0.8em; }

.chart-clearer {
  clear: both; }

div.chart {
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  margin-right: 0;
  margin-top: 0; }

table.legrid {
  border: 0;
  padding: 0;
  margin: 0; }
  table.legrid td {
    border: 0;
    margin: 0; }
  table.legrid td.left {
    padding: 0;
    padding-right: 0.8em;
    width: 75%; }
  table.legrid td.right {
    padding: 0;
    width: 25%; }

.info .description {
  margin-bottom: 0.8em;
  background-color: #eeeeee;
  padding: 0.8em;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd; }

.infoblock {
  margin-bottom: 0.8em;
  background-color: #eeeeee;
  padding: 0.8em;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd; }
  .infoblock .heading {
    padding-top: 0;
    font-weight: bolder;
    font-size: 110%; }
  .infoblock table.compact {
    padding: 2px; }

h1 {
  font-size: 0.8em; }

h2 {
  font-size: 0.7em; }

h3 {
  font-size: 0.6em; }

h4 {
  font-size: 0.5em; }

.listing {
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  padding: 0.3em;
  border-collapse: collapse; }
  .listing img {
    position: relative;
    top: 4px; }
  .listing a:hover {
    text-decoration: none; }
  .listing tr.header {
    background-color: #edf5ff;
    border-color: #dddddd;
    padding: 1px; }
  .listing tr.footer {
    font-weight: bolder;
    background-color: #edf5ff;
    margin-top: 5px; }
    .listing tr.footer td {
      padding-right: 1em; }
  .listing tr.header, .listing tr.footer {
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd; }
  .listing tr.odd {
    background-color: #edf5ff; }
  .listing tr.even {
    background-color: #feffff; }
  .listing td {
    padding: 0.3em;
    border: 0;
    vertical-align: middle; }
  .listing th {
    padding: 0.3em;
    border-color: #dddddd; }
  .listing .date {
    float: right;
    margin-right: 0.5em; }
  .listing .author {
    margin-left: 2em; }

.description-old {
  padding: 0.4em;
  border-width: 1px;
  width: 100%;
  border-style: solid;
  border-color: red# #dddddd; }
  .description-old td {
    background-color: #eeeeee;
    padding: 0.8em;
    width: auto;
    margin-right: 0.8em;
    margin-bottom: 0.8em;
    border-width: 1px;
    border-style: solid;
    border-color: #dddddd; }

.legrid tr {
  vertical-align: top; }
.legrid .left {
  width: 75%; }

.tag-cloud {
  background-color: #ffffff;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  margin-top: 0.8em;
  padding-left: 0.8em;
  height: 100%; }

.tag_cloud {
  border: 3px solid red; }

table.compact {
  font-size: 1em;
  border: 0; }

#message-tree {
  background-color: #eeeeee;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd;
  padding-left: 0.8em;
  height: 100%; }
  #message-tree .heading {
    margin-top: 0.8em;
    padding-top: 0;
    font-weight: bolder;
    font-size: 110%; }

.message_tree_date {
  color: #777; }

.message_tree_node {
  margin-left: 0.2em;
  padding: 0.5em 0 0 0.5em;
  border-left: 1px solid #ddd;
  height: 100%; }
  .message_tree_node .current_message {
    font-weight: bold;
    background-color: #dddddd;
    border: 1px solid #eed;
    border-left: 3px solid #666; }

.message_pagination {
  margin-top: 1em;
  margin-bottom: 1em; }
  .message_pagination .element {
    width: 2em;
    display: block;
    float: left;
    text-align: center;
    margin-left: .2ex; }
  .message_pagination a {
    border: 1px solid #ccc;
    padding: .2em;
    text-decoration: none;
    color: #373; }
    .message_pagination a:hover {
      background-color: #eee; }
    .message_pagination a.current_page {
      border: 1px solid #555; }

.pagination {
  padding: 3px;
  margin: 3px; }
  .pagination a {
    padding: 2px 5px 2px 5px;
    margin: 2px;
    text-decoration: none;
    border: 1px solid #ccc;
    text-decoration: none;
    color: #373; }
    .pagination a:hover, .pagination a:active {
      border: 1px solid #999;
      color: #7a7; }
    .pagination a span.current {
      padding: 2px 5px 2px 5px;
      margin: 2px;
      border: 1px solid #090;
      font-weight: bold;
      background-color: #373;
      color: #FFF; }
    .pagination a span.disabled {
      padding: 2px 5px 2px 5px;
      margin: 2px;
      border: 1px solid #eee;
      color: #ddd; }

.digg_pagination {
  text-wrap: none !important; }

.digg_pagination {
  background: white;
  /* self-clearing :method */
  *first-child+html: &;
  *first-child+html-overflow: hidden; }
  .digg_pagination a, .digg_pagination span {
    padding: .2em .5em;
    display: block;
    float: left;
    margin-right: 1px; }
  .digg_pagination span.disabled {
    color: #999;
    border: 1px solid #DDD; }
  .digg_pagination span.current {
    font-weight: bold;
    background: #2EB16A;
    color: white;
    border: 1px solid #2EB16A; }
  .digg_pagination a {
    text-decoration: none;
    color: #105CB6;
    border: 1px solid #9AAFE5; }
    .digg_pagination a:hover, .digg_pagination a:focus {
      color: #003;
      border-color: #030; }
  .digg_pagination .page_info {
    background: #070;
    color: white;
    padding: .4em .6em;
    width: 22em;
    margin-bottom: .3em;
    text-align: center; }
    .digg_pagination .page_info b {
      color: #003;
      background: #6aeda6;
      padding: .1em .25em; }
  .digg_pagination:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .digg_pagination {
    height: 1%; }

.apple_pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .apple_pagination a, .apple_pagination span {
    padding: .2em .3em; }
  .apple_pagination span.disabled {
    color: #AAA; }
  .apple_pagination span.current {
    font-weight: bold;
    background: transparent url(apple-circle.gif) no-repeat 50% 50%; }
  .apple_pagination a {
    text-decoration: none;
    color: black; }
    .apple_pagination a:hover, .apple_pagination a:focus {
      text-decoration: underline; }

.flickr_pagination {
  text-align: center;
  padding: .3em; }
  .flickr_pagination a, .flickr_pagination span {
    padding: .2em .5em; }
  .flickr_pagination span.disabled {
    color: #AAA; }
  .flickr_pagination span.current {
    font-weight: bold;
    color: #FF0084; }
  .flickr_pagination a {
    border: 1px solid #DDDDDD;
    color: #0063DC;
    text-decoration: none; }
    .flickr_pagination a:hover, .flickr_pagination a:focus {
      border-color: #003366;
      background: #0063DC;
      color: white; }
  .flickr_pagination .page_info {
    color: #aaa;
    padding-top: .8em; }
  .flickr_pagination .prev_page, .flickr_pagination .next_page {
    border-width: 2px; }
  .flickr_pagination .prev_page {
    margin-right: 1em; }
  .flickr_pagination .next_page {
    margin-left: 1em; }

.message {
  text-align: left;
  padding: 0;
  vertical-align: top; }
  .message table {
    margin-left: 0;
    width: 100%;
    font-size: 90%; }
  .message .key {
    font-weight: bold;
    border: 0;
    width: 5em; }
  .message .value {
    border: 0;
    padding-left: 0.5em; }
  .message .ad {
    text-align: right;
    padding-right: 1cm;
    border: 0; }
  .message .address {
    font-size: 90%;
    color: #777;
    vertical-align: top; }
  .message .unrated {
    color: #777; }

.message-content {
  margin-bottom: 1em;
  padding: 0;
  border: 1px solid #ddd; }
  .message-content td {
    border: 0; }

#ad-top {
  padding-top: 0.4em;
  padding-bottom: 0.3em;
  text-align: left; }

#ad-bottom {
  margin-top: 2em;
  text-align: left; }

#ad-top_banner {
  width: 468px;
  margin-left: auto;
  margin-right: auto; }

.ad-wrapper {
  padding: 0;
  padding-top: 0.8em;
  width: 100%;
  background-color: #eeeeee;
  margin-bottom: 0.8em;
  border-width: 1px;
  border-style: solid;
  border-color: #dddddd; }
  .ad-wrapper td {
    padding: 0;
    text-align: center;
    vertical-align: middle; }
  .ad-wrapper th {
    border: 0;
    padding: 0; }

#xearchInput {
  background-image: url(/images/search.png);
  background-position: 4px 3px;
  background-repeat: no-repeat;
  padding: 1px 1px 1px 1.6em;
  background-color: white;
  height: 100%;
  color: #666;
  width: 10em; }

body {
  font-family: "Gill Sans", "Trebuchet MS", Verdana, Helvetica, sans-serif; }

img.feed-link {
  border: 0;
  position: relative;
  top: 5px; }

.image-link, .image-linkvisited {
  text-decoration: none; }

.image-linkhover {
  text-decoration: none; }

.image-link              img {
  border: 0;
  position: relative;
  top: 2px;
  left: 2px;
  margin-right: 1px; }

.operations a:hover {
  text-decoration: none; }

.scroller {
  margin: 0;
  border: 0;
  height: 600px //These help it scroll in the text area;
  text-align: left;
  overflow: auto;
  margin-left: 0;
  margin-right: 0;
  width: auto; }

.part_plain {
  padding: 0; }

.yuimenuitemlabel {
  margin-left: auto;
  margin-right: auto; }

pre.message {
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: pre-wrap;
  word-wrap: break-word;
  border: 0; }

#archive-status {
  color: #fff;
  font-size: 90%;
  font-style: italic; }

#hd {
  background-color: #070;
  background-image: url(/images/header-background-gradient.png);
  background-repeat: repeat-x;
  background-attachment: fixed;
  background-position: 0 0; }

ul.navigation_links li a {
  color: #050;
  font-weight: bolder; }

ul.navigation_links li {
  color: #333; }

.sidebar h1 {
  color: #595; }
.sidebar h2 {
  color: #77c; }

.page_info_box {
  width: 100%;
  background-color: #070; }

.part_html {
  padding: 0.5em; }

.part_plain {
  margin: 0.5em; }

input.openid {
  background: url( /images/openid_login_bg.gif ) no-repeat;
  background-position: 0 50%;
  background-color: #fff;
  padding-left: 18px; }

#login_box {
  position: absolute;
  right: 2.5em;
  font-size: 8pt;
  padding: 1em;
  padding-right: 0px;
  color: #CEC;
  font-family: Verdana, Helvetica, san-serif; }
  #login_box a {
    color: #BDB;
    font-weight: bold; }

.info .favorite-icon {
  float: right;
  margin-top: 0.4em;
  margin-right: 0.4em; }

.address {
  color: #222;
  font-style: italic; }
