<div class="one_with_sidebar_left">
  <div class="content">
    <div class="content_header">system error</div>

<p>
Unfortunately, there was an unexpected issue processing your request.
</p>

<p>
Any additional information you can provide will assist us greatly.
</p>

<p>Support email: <%= link_to March::SUPPORT_EMAIL, :url => "mailto:#{March::SUPPORT_EMAIL}" %></p>


	</div>
</div>