%span.address
  %a{ :href => uri, :onclick => "window.open('#{uri}', '', 'toolbar=0,scrollbars=0,location=0,statusbar=0,menubar=0,resizable=0,width=500,height=300'); return false;", :title => "Reveal this e-mail address" }
    = contents
