
<html>
  <head>
    <title>Archive :: <%= @root_group.name %></title>
    <%= stylesheet_link_tag 'march.css' %>
  </head>
  <body>
    <div id="core">
      <div id="core_breadcrumbs">
        <div style="float:right">
          Current time: <%= Time.now.utc.strftime( "%l:%M %p UTC, %A %e %B %Y" ).gsub( /\s+/, ' ').gsub( ' ', '&#160;' )  %>
        </div>
      </div>

      <div id="core_content">
        <%= @content_for_layout %>
      </div>
    </div>
  </body>
</html>
